body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue;
  overscroll-behavior: none;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  padding: 2px 10px 2px 10px;
  height: 22px;
  border-radius: 5px;
  background-color: navy;
  color: white;
}

button :hover {
  background-color: mediumblue;
}

button:disabled,
button:disabled:hover {
  background-color: gray;
  cursor: default;
}

.row {
  display: flex;
  align-labels: center;
}

.thumb {
  width: 40%;
}

.rowlabel {
  width: 15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dataContainer {
  flex: 1 1 0;
  background-color: aliceblue;
  text-align: center;
  border-radius: 10%;
  margin: 10px;
  overflow: hidden;
}

.blur {
  filter: blur(5px);
}

.emphasize {
  background-color: yellow;
}

#container {
  width: calc(100% - 400px);
}

#chartContainer {
  position: fixed;
  right: 0;
  top: 45%;
  transform: translate(55%, -50%);
}

#inputContainer {
  position: fixed;
  right: 500px;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

#controlPanel {
  position: fixed;
  right: 0;
  top: 0;
  width: 400;
  text-align: center;
  padding: 30px;
  color: aqua;
}

#predictedLabelContainer {
  color: white;
  font-size: 50px;
  position: relative;
}
